# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env
.venv
ENV/
env/
venv/

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE Files
.vscode/
.idea/

# macOS specific files
.DS_Store
